# Frontend Environment Variables
NEXTAUTH_SECRET=LlKq6ZtYbr+hTC073mAmAh9/h2HwMfsFo4hrfCx5mLg=
NEXTAUTH_URL=http://localhost:8080/
NEXT_APP_API_URL=http://localhost:8080
NEXT_APP_JWT_SECRET=ikRgjkhi15HJiU78-OLKfjngiu
NEXT_APP_JWT_SECRET=YOUR_NEXT_APP_JWT_SECRET_HERE
NEXT_APP_JWT_TIMEOUT=86400
NEXT_PUBLIC_BACKEND_URL=http://localhost:8080
NEXT_APP_GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY_HERE

# Business Central Credentials (Backend)
BC_CLIENT_ID=YOUR_BC_CLIENT_ID_HERE
BC_CLIENT_SECRET=YOUR_BC_CLIENT_SECRET_HERE
BC_TENANT_ID=YOUR_BC_TENANT_ID_HERE
BC_BASE_URL=YOUR_BC_BASE_URL_HERE
BC_TOKEN_URI=YOUR_BC_TOKEN_URI_HERE
